<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Predictive Text Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/demo.css"></style>
  </head>
  <body>
    <div id="content">
      <h3>Predictive Text Demo</h3>
      <input id="textInput" type="text">
      <p id="errorMessage"></p>
      <div id="results" style="display:none;">
        <ul id="resultsList"></ul>
      </div>
    </div>
    <p id="apiUrl" style="display:none;">{{.APIUrl}}</p>
    <script src="/static/demo.js"></script>
  </body>
</html>