body {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

h3 { 
  text-align: center;
}

li {
  list-style-type: none;
}

input {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#content {
  width: 600px;
}

.predicted {
  font-weight: bold;
}